@use 'styles/abstracts' as a;

.HeroSectionPage {
	width: 100%;
	padding: 0 10vw;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
}

.HeroSection {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.ContentContainer {
	width: 100%;
}

.Heading {
	font-size: 1.875em;
	font-weight: 800;
	line-height: 1.25;
	color: a.$clr-black;
	span {
		color: a.$clr-purple;
	}
}

.SubHeading {
	margin-top: 1.125rem;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1.25;
	color: a.$clr-black;
}

.HeroForm {
	margin-top: 3.125rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.EmailInput {
	width: clamp(269px, 50%, 300px);
	padding: 0.8rem 1rem;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1.25;
	color: a.$clr-black;
	background-color: a.$clr-light-blue;
	border-radius: 4.6px 0 0 4.6px;
	border: none;
	outline: none;
	&::placeholder {
		color: a.$clr-black-50;
	}
}

.HeroForm > button {
	display: inline-block;
	padding: 0.8rem;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1.25;
	color: a.$clr-white;
	background-color: a.$clr-primary;
	border-radius: 0 4.6px 4.6px 0;
	border: none;
	outline: none;
	span {
		display: flex;
		align-items: center;
	}
}

.BtnSVG {
	width: 30px;
}

.Para {
	margin-top: 1rem;
	font-size: 0.625em;
	font-weight: 400;
	line-height: 1.25;
	color: a.$clr-black;
}

.NewsBanner {
	position: absolute;
	bottom: 0vh;
	left: 0;
	width: 100vw;
	height: 53px;
	background-color: a.$clr-light-blue;
}

.HeroSVGContainer {
	display: none;
}

@media screen and (min-width: a.$large-tablet-screen) {
	.Heading {
		font-size: 2.5em;
		letter-spacing: 0.5px;
	}
	.SubHeading {
		margin-top: 1.75rem;
		font-size: 1.125em;
	}
	.HeroForm {
		margin-top: 8rem;
	}
	.EmailInput {
		padding: 1rem 1.4rem;
		font-size: 1em;
	}
	.HeroForm > button {
		padding: 1.1rem 1.6rem;
		font-size: 1em;
	}
	.Para {
		margin-top: 1.125rem;
		font-size: 0.85em;
	}
	.NewsBanner {
		bottom: 4vh;
		width: 100vw;
	}
}

@media screen and (min-width: a.$monitor-screen) {
	.HeroSection {
		justify-content: space-between;
		align-items: center;
	}
	.ContentContainer {
		width: 50%;
	}
	.HeroSVGContainer {
		width: 45%;
		min-height: max(680px, calc(100% - 4vh));
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
		background-color: a.$clr-primary;
		border-radius: 99px 0 99px 0;
	}
	.HeroPeopleSVGContainer {
		width: 85.3%;
		height: auto;
		display: flex;
		align-items: flex-end;
	}
}
