// colors
$clr-primary: hsla(240, 34%, 24%, 1);
$clr-purple: hsla(249, 46%, 50%, 1);
$clr-blue: hsla(194, 90%, 54%, 1);
$clr-green: hsla(148, 56%, 58%, 1);
$clr-yellow: hsla(40, 99%, 64%, 1);
$clr-magenta: hsla(352, 99%, 70%, 1);
$clr-red: hsla(6, 84%, 58%, 1);
$clr-peach: hsla(0, 100%, 85%, 1);

$clr-light-blue: hsla(240, 100%, 97%, 1);

$clr-black: hsla(0, 0%, 0%, 1);
$clr-white: hsla(0, 0%, 100%, 1);

$clr-black-50: hsla(0, 0%, 0%, 0.5);
