@use 'styles/abstracts' as a;

.Footer {
	width: 100%;
	color: a.$clr-white;
	background-color: a.$clr-primary;
	display: flex;
	flex-direction: column;
}

.Footer_Row {
	margin: 10vh 10vw 8vh 10vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2.5rem;
}

.Footer_Column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}

.Content_Heading {
	font-size: 1.2rem;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 0.9px;
}

.Footer_Page_Link {
	margin-bottom: 0.9rem;
}

.Footer_Page_Link a {
	font-size: 0.825rem;
	line-height: 1.2;
}

.Footer_Copyright_Container {
	width: 100%;
	padding: 2rem 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
	background-color: a.$clr-primary-dark;
}

.Footer_Copyright_Para {
	font-size: 0.725rem;
	line-height: 1.2;
}

.Footer_SocialLink_Container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

@media screen and (min-width: a.$laptop-screen) {
	.Footer_Row {
		margin: 17vh 0 13vh 0;
		flex-direction: row;
		justify-content: space-evenly;
		gap: 0;
	}
	.Footer_Column {
		gap: 2rem;
	}
	.Content_Heading {
		font-size: 1.5rem;
	}
	.Footer_Page_Link {
		margin-bottom: 0.9rem;
	}
	.Footer_Page_Link a {
		font-size: 0.9rem;
	}
	.Footer_Copyright_Container {
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
	}
	.Footer_Copyright_Para {
		font-size: 0.875rem;
	}
}
