@use 'styles/abstracts' as a;

.Navbar {
	width: 100%;
	min-height: 10vh;
	padding: 0 6.5vw 0 10vw;
	position: absolute;
	top: 3vh;
	left: 0;
	z-index: 10;
}

.CloseMenuMobileNavbar {
	width: 100%;
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	transition: background-color 0.2s linear;
	position: absolute;
	top: -3vh;
	right: 0;
}

.MobileLogo_Container {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 20;
}

.CloseMenuMobileNavbar_Links_Container {
	width: 0px;
	min-height: 100vh;
	list-style: none;
	padding: 15vh 5vw 5vh 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	background-color: a.$clr-primary;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	opacity: 0;
	transition: all 0.2s linear;
	transform: translateX(100%);
}

.OpenMenuMobileNavbar_Links_Container {
	width: 100%;
	opacity: 1;
	transform: translateX(0);
}

.CloseMenuBtn {
	margin-right: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7px;
	background: transparent;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 3.5vh;
	right: 5vw;
	z-index: 20;
}

.CloseMenuBtn span {
	display: inline-block;
	width: 32px;
	height: 3px;
	transition: all 0.2s linear;
	background-color: a.$clr-primary;
}

.OpenMenuBtn span {
	background-color: a.$clr-white;
	&:nth-child(1) {
		transform: rotate(-50deg) translate(-6px, 0);
	}
	&:nth-child(2) {
		transform: rotate(50deg) translate(-6px, 0);
	}
}

.MonitorNavbar {
	display: none;
}

@media screen and (min-width: a.$monitor-screen) {
	.CloseMenuMobileNavbar {
		display: none;
	}
	.MonitorNavbar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.MonitorLogo_Container a {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
	.Company_Name {
		font-size: 1.5em;
		font-weight: 400;
		color: a.$clr-primary;
	}
	.MonitorNavbar_Links_Container {
		width: clamp(420px, 25%, 520px);
		min-height: auto;
		background-color: transparent;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 0;
		position: static;
	}
	.Navbar_Link {
		flex: 1;
	}
}
