@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Background Colors */
		--clr-primary: 41, 41, 83;
		--clr-primary-light: 241, 241, 255;
		--clr-primary-dark: 32, 23, 77;

		--clr-secondary: 86, 69, 186;

		/* Green */
		--clr-support-1: 89, 208, 144;

		/* Yellow */
		--clr-support-2: 254, 194, 70;

		/* Light Pink */
		--clr-support-3: 254, 105, 125;

		/* Text Colors */
		--clr-text-primary: 41, 41, 83;
		--clr-text-secondary: 86, 69, 186;
	}
}
